html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container,
.custom-row-height {
    height: 100%;
}

.col-md-12,
.iframe-container {
    height: 100%;
    padding: 0;
}

iframe {
    width: 100%;
    height: 100%;
    display: block;
}